
*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
html,body{
  scroll-behavior: smooth;
}
body{
    background-color: #1e2028;
}
#arrow-up{
    color: #ff7800;
    font-size: 2rem;
    position: fixed;
    bottom: 10px;
    right: 15px;
    display: none;
    cursor: pointer;
    z-index: 1;

}
#arrow-up:hover{
    transform: scale(1.1);
    transition: 1s;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
header img{
    width: 200px;
    height:100px;
    margin: 1rem;
    box-shadow: 10px 10px 10px rgb(17, 14, 14);
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
nav ul{
 display: flex;
}
ul li{
    margin: 1rem;
    list-style: none;
}
ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    
}
ul li a:hover{
    border-bottom: 1px solid #fff;
}
#contact{
    margin: 1rem;
    padding: 0.7rem 2rem;
    background-color:#fff ;
    border: none;
    border-radius:5px ;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    
}
#contact:hover{
   box-shadow:0px 0px 50px  rgb(217, 215, 215);
   animation: move 1.5s ease-out infinite;
   transition: 2s;
}
/** hier ga ik main content stylen **/
.contentmain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    height: 80%;
}
.main1{

    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
    width: 70%;

}
.main1 h2{
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
  width: 80%;
}
.main1 span{
    color: #ff7800;
}
.main1 h3{
    color: #fff;
    text-transform: uppercase;
    width: 70%;
    cursor: pointer;
}
.main1 p{
    color: #fff;
    text-transform: uppercase;
    width: 70%;
    cursor: pointer;
}
#cv{
    padding: 0.5rem 1.3rem;
     width: max-content;
     cursor: pointer;
     border-radius: 5px;
     font-size: 1rem;
     border: none;
     transition: 1s;
     

}
/** hier maak ik key =frame voor cv button**/
@keyframes move{
  form{
    scale: 1;
  }
  to{
    scale: 1.1;
  }

}
#cv:hover{
    box-shadow:0px 0px 50px  rgb(217, 215, 215);
    animation: move 1.5s ease-out infinite;
    transition: 1s;
}

.main2{
display: flex;
justify-content: center;
align-items: center;


}
.main2 img{
    width: 100%;
    height: 100%;
    animation: imgmove 3s ease-out;
}

@keyframes imgmove{
    from{
        scale: 1.2;
    }
    to{
        scale: 1;
    }
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    overflow: hidden;
}

.contentabout1 img{
   width: 70%;
   margin: 2rem;
   border-radius: 70px 0px 70px 0px ;
   border-top: 5px solid #ff7800;
  border-bottom: 5px solid #ff7800;
  position: relative;
  left: 2000px;
  transition: 1s;
}


.contentabout2{
    width: 50%;
    border-bottom: solid 5px #ff7800;
    border-top: solid 5px #ff7800;
    border-radius:70px 0px 70px 0px ;
    padding: 1rem;
    margin: 2rem;
}
.contentabout2 h2{
 font-size: 4rem;
 color: #fff;
 margin-bottom: 1rem;
}
.contentabout2 span{
    color: #ff7800;
}
.contentabout2 p{
    width: 70%;
    color: #fff;
    font-size: 1.5rem;
}
#read-more{
    margin-top: 1.5rem;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
#read-more:hover{
    box-shadow:0px 0px 50px  rgb(217, 215, 215);
    animation: move 1.5s ease-out infinite;
    transition: 1s;
}
.contentabout2 a{
    text-decoration: none;
    color: black;
}

/* Hier style ik skills section **/

.skills-slid{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    overflow: hidden;
}
.slid1{
    margin: 2rem;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 10px 10px 10px rgb(0, 0, 0,5);
    border-radius: 5px;
    position: relative;
    left: 2000px;
    transition: 2s;
}
.slid1 h3{
    margin: 3rem 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.slid1 li{
    list-style: none;
}
.slid2{
  margin: 2rem;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 10px 10px 10px rgb(0, 0, 0,5);
  border-radius: 5px;
  position: relative;
  left: 2000px;
  transition: 4s;
  

}
.slid2 h3{
  margin: 3rem 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.slid2 li{
    list-style: none;
    
}
.bar{
    display: block;
    background-color: #1e2028;
    height: 20px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0,5);
    transition: all 3s cubic-bezier(.25,.8,.25,1);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg,rgba(236,0,140,1)0%,rgba(252,103,103,1)100%);
    
}
.html{
    width: 80%;
    animation: html 3s;
}
.css{
    width: 60%;
    animation: css 3s;
}
.js{
    width: 10%;
    animation: js 3s;
}
.bootstrap{
    width: 20%;
    animation: bootstrap 3s;
}
.figma{
    width: 70%;
    animation: figma 3s;
}
.java{
    width: 40%;
    animation: java 3s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
    width: 80%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
    width: 60%;
    }
}
@keyframes js{
    0%{
        width: 0%;
    }
    100%{
    width: 10%;
    }
}
@keyframes bootstrap{
    0%{
        width: 0%;
    }
    100%{
    width: 20%;
    }
}
@keyframes figma{
    0%{
        width: 0%;
    }
    100%{
    width: 70%;
    }
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
    width: 40%;
    }
}

/** hier ga ik mijn projecten die ik toegevoed heb stylen**/

.errow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;

}
.errow a{
    font-size: 4rem;
    margin-bottom: 2rem;
    color: aliceblue;

}
.errow a:hover{
    transform: scale(1.1);
    transition: 1s;
}
/* hier ga ik mijn projecten die ik heb toegevoed stylen**/
.werk-toevoegen{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 2rem;
    margin-bottom: 5rem;
    margin: 2rem;
}
.werk1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
.werk2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
.werk2:hover{
    transform: scale(1.1);
    transition: 1s;
}
.werk2 img{
    width: 100%;
    height: 100%;
    border-radius:5px;
 
}
.werk2 i{
    align-self: flex-start;
    margin-top: 1rem;
    color: #ff7800;
    
}
.werk2 p{
    align-self: flex-start;
    margin-top: 2rem;
}

.werk3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
.werk3:hover{
    transform: scale(1.1);
    transition: 1s;
}
.werk3 img{
    width: 100%;
    height: 100%;
    border-radius:5px;
 
}
.werk3 i{
    align-self: flex-start;
    margin-top: 1rem;
    color: #ff7800;
    
}
.werk3 p{
    align-self: flex-start;
    margin-top: 2rem;
}

.werk1:hover{
    transform: scale(1.1);
    transition: 1s;
    
}
.werk1 img{
   width: 100%;
   height: 100%;
   border-radius:5px;

}
.werk1 i{
    align-self: flex-start;
    margin-top: 1rem;
    color: #ff7800;
    
}
.werk1 p{
    align-self: flex-start;
    margin-top: 2rem;
}
.werk1 span{
    color: #ff7800;
}
@media screen and (max-width: 800px) {
    .werk-toevoegen{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 600px) {
    .werk-toevoegen{
        grid-template-columns: 1fr;
    }
}
/** hier ik ga ik contact form stylen**/

.contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.contact-me h1{
    font-size: 3rem;
    color: #fff;
}
.contact-me span{
    color: #ff7800;
}
/** hier ga ik contact form stylen **/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    background-color: black;
}
footer ul{
    display: flex;
    color: #fff;
}
.contact-icon i{
    color: #fff;
    cursor: pointer;
    margin-right: 4rem;
    font-size: 2rem;
} 
/** Hier ga ik media query gebruiken */

@media screen and (max-width: 900px) {
 .main1 h2{
    font-size: 2rem;
 }

 .contentabout2 h2{
    font-size: 3rem;
 }
 .contentabout2 p{
    font-size: 1rem;
 }
} 
@media screen and (max-width: 800px){
    .main1 h2{
      font-size: 1.6rem;
    }
    .main1 h3{
      font-size: 1rem;
    }
    .main1 p{
      font-size: 0.6rem;
    }
    .contentabout2 h2{
        font-size: 2rem;
     }
     .contentabout2 p{
        font-size: 0.8rem;
     }
     #contact{
        display: none;
    }
    footer ul li {
        display: none;
    }
    footer  {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    footer a i {
        padding: 1rem;
    }

}
@media screen and (max-width: 600px){
    .contentmain{
        flex-direction: column;
    }
    .main2 img {
        width: 70%;

    }
    .main1 h3{
        font-size: 1rem;
    }
    .main1 h2{
        font-size: 1.7rem;
    }
    .main1 p{
        font-size: 0.7rem;
    }
    header img {
        width: 30%;
        height: 30%;
    }
    header ul li a{
        font-size:1rem;
    }
}
@media screen and (max-width: 580px){
   .about{
    flex-direction: column;
   }
   .contentabout1  {
    width: 70%;
    align-items: center;
   }
}